/*************  Setup  *************/

:root {
  --primary-color: #272a31;
  --secondary-color: #ec5242;
  --tertiary-color: #d3d3d3;
  --primary-font: primary-bold;
  --secondary-font: "Lato", sans-serif;
  --tertiary-font: primary-light;
}

@font-face {
  font-family: primary-bold;
  src: url("fonts/cocogoosePro-trial.ttf");
}

@font-face {
  font-family: primary-light;
  src: url("fonts/cocogooseProUltralight-trial.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
}

/*************  Header Section  ********/
.header {
  display: none;
}

/**********  Navbar Section  **********/
#navbar {
  position: fixed;
  z-index: 99;
  width: 70%;
  height: 100vh;
  background-color: var(--tertiary-color);
  box-shadow: 2px 20px 15px var(--primary-color);
  transform: translateX(-102%);
  transition: transform 0.5s ease-in;
}

.nav-active {
  transform: translateX(0) !important;
}

.logo {
  display: none;
}

#navbar ul {
  padding-top: 100px;
  padding-right: 20%;
  padding-left: 30px;
}

#navbar ul li {
  list-style-type: none;
  color: var(--primary-color);
  font-weight: 600;
  padding: 20px 10px;
  border-bottom: solid var(--secondary-color) 3px;
  font-size: 22px;
}

#navbar ul li a {
  text-decoration: none;
  color: var(--primary-color);
}

#navbar ul li a:hover {
  color: var(--secondary-color);
}

.last-link {
  border: none !important;
}

.focused {
  text-align: center;
  margin-top: 40px;
  border: none !important;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 5px 5px 15px var(--primary-color);
}

.humberger {
  position: fixed;
  z-index: 9999;
  padding: 30px;
  cursor: pointer;
}

.humberger div {
  width: 35px;
  background-color: var(--primary-color);
  margin: 6px;
  height: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-9px, 9px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-10px, -10px);
}

/************  Intro Section  ************/

.intro {
  background-image: url("./assets/images/desktopbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 20px;
}

.quick-link {
  position: absolute;
  top: 18%;
  left: 85%;
  display: none;
}

.quick-link span {
  color: var(--secondary-color);
}

.quick-link .top-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 12px;
}

.intro h2 {
  padding-top: 70px;
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 400;
}

.intro h1 {
  padding-top: 5px;
  font-family: var(--secondary-font);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 28px;
  color: var(--secondary-color);
  padding-bottom: 30px;
  line-height: 2rem;
}

.intro .bio {
  border: solid 3px #fff;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 12px;
  font-size: 12px;
  line-height: 1.2rem;
}

.intro .time {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 30px;
}

.intro .address {
  padding-top: 20px;
  font-family: var(--secondary-font);
  font-size: 13px;
  padding-bottom: 70px;
}

/******  Main program Section  ******/
#main-program {
  background-image: url("./assets/images/pattern_bg.png");
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#main-program .title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--tertiary-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

#main-program hr {
  width: 40px;
  background-color: var(--secondary-color);
  height: 2px;
  border: none;
}

.main-program {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.main-program div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: rgb(204 204 204 / 10%);
  align-items: center;
  padding: 20px;
}

.main-program img {
  width: 30px;
  height: auto;
  flex: 0.5 1 0;
}

.main-program h3 {
  color: var(--secondary-color);
  flex: 1.2 1 0;
  font-size: 12px;
  font-weight: 800;
}

.main-program p {
  color: var(--tertiary-color);
  flex: 3 1 0;
  font-size: 12px;
}

#main-program .desk {
  display: none;
  cursor: pointer;
}

#main-program .mob {
  padding: 20px;
  text-align: center;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  margin: 20px 0;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

/******  Featured Speakers  *********/
#featured-speaker {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  align-items: center;
}

.titlesection {
  order: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#featured-speaker .title {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

#featured-speaker hr {
  width: 40px;
  background-color: var(--secondary-color);
  height: 2px;
  border: none;
  margin-bottom: 20px;
}

#speakers {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item {
  padding: 15px 0;
  display: flex;
  gap: 15px;
}

.grid-item img {
  height: 120px;
  background-image: url("/assets/images/patern.png");
  background-size: 70px;
  background-repeat: no-repeat;
  padding: 15px 0 0 15px;
}

.speaker h4 {
  font-family: var(--secondary-font);
  font-size: 15px;
}

.profession {
  font-size: 14px;
  color: var(--secondary-color);
}

.divider {
  background-color: var(--tertiary-color);
  height: 2px;
  width: 30px;
  margin: 10px 0;
}

.speaker .description {
  font-size: 12px;
}

/******  Partners  *******/
#partner {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#partner .title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--tertiary-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

#partner hr {
  width: 40px;
  background-color: var(--secondary-color);
  height: 2px;
  border: none;
}

.partner {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.partner img {
  width: 80px;
  cursor: pointer;
}

/******  Footer Section  ****/

#footer {
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

#footer img {
  width: 80px;
}

#footer p {
  font-size: 12px;
  width: 60%;
}

/*********  About Page  ********/

/**  intro Section  **/

#about {
  background-image: url("./assets/images/desktopbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 20px;
}

#about h2 {
  padding-top: 70px;
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

#about h1 {
  padding-top: 5px;
  font-family: var(--secondary-font);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 28px;
  color: var(--secondary-color);
  padding-bottom: 40px;
  line-height: 2rem;
  text-align: center;
}

#about .bio {
  border: solid 3px #fff;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 12px;
  font-size: 12px;
  line-height: 1.2rem;
  text-align: center;
}

#about .ad-det {
  font-size: 14px;
  padding: 20px 0 0;
  line-height: 1.2rem;
  text-align: center;
}

#about .about-email {
  font-family: var(--secondary-color);
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
}

/******  story section  ****/
#co-logo {
  background-color: var(--tertiary-color);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

#co-logo h3 {
  font-family: var(--secondary-font);
  text-align: center;
  width: 60%;
}

#co-logo hr {
  width: 30px;
  background-color: var(--secondary-color);
  height: 2px;
  margin: -20px 0;
  border: none;
}

#co-logo .desktop {
  display: none;
}

#co-logo .mobile {
  text-align: center;
  font-size: 14px;
}

#co-logo img {
  border: solid 2px #fff;
  padding: 30px 90px;
}

/****  Events  ****/

#events-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  align-items: center;
}

#events-container h3 {
  font-family: var(--secondary-font);
  text-align: center;
}

#events-container hr {
  width: 30px;
  background-color: var(--secondary-color);
  height: 2px;
  border: none;
}

#events-container p {
  font-size: 14px;
  text-align: center;
  color: var(--primary-color);
  color: #fff;
}

.events {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.events div {
  padding: 0;
  color: var(--tertiary-color);
  position: relative;
}

.events div::before {
  background-color: rgb(233 30 30 / 65.8%);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.event1 {
  background: url("/assets/images/event1.jpg");
  background-size: cover;
  z-index: 2;
}

.event-title {
  padding-top: 50px;
  font-size: 30px;
  color: #fff;
}

.event-details {
  padding: 10px 30px 50px;
  font-size: 20px;
  color: #fff;
}

.event2 {
  background-image: url("/assets/images/event2.jpg");
  background-size: cover;
  z-index: 2;
}

/******  Bigger Screen  ******/
@media screen and (min-width: 768px) {
  /*************  header  *************/
  .header {
    display: flex;
    padding-right: 12%;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    height: 40px;
    background-color: var(--primary-color);
    font-family: var(--tertiary-font);
    font-weight: 600;
  }

  .header a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }

  .header a:hover {
    color: var(--secondary-color);
  }

  .logo img {
    width: 70px;
  }

  .social img {
    width: 25px;
  }

  .main-program img {
    width: 30px;
    height: auto;
  }

  .grid-item img {
    height: 150px;
    background-image: url("/assets/images/patern.png");
    background-size: 70px;
    background-repeat: no-repeat;
    padding: 15px 0 0 15px;
  }

  .partner img {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 80px;
  }

  .social img:hover {
    background-color: var(--secondary-color);
  }

  /*****  navbar  ****/

  #navbar {
    position: static;
    display: flex;
    transform: translateX(0);
    background-color: #fff;
    height: 70px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    box-shadow: none;
  }

  .quick-link {
    display: block;
  }

  .logo {
    display: block;
    width: 70px;
  }

  #navbar ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
    gap: 30px;
  }

  #navbar ul li {
    border: none;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
  }

  .home-page {
    display: none;
  }

  .focused {
    padding: 10px !important;
    margin: 0;
    box-shadow: none;
    border: solid 2px var(--secondary-color) !important;
  }

  .focused:hover {
    border: none;
    color: var(--tertiary-color);
  }

  .humberger {
    display: none;
  }

  .humberger div {
    display: none;
  }

  /************  Intro Section  ************/

  .intro {
    height: auto;
    padding: 30px 120px;
  }

  .intro h2 {
    padding-top: 50px;
    font-size: 34px;
  }

  .intro h1 {
    width: 80%;
    font-size: 56px;
    line-height: 3.5rem;
  }

  .intro .bio {
    width: 65%;
    font-size: 16px;
    line-height: 1.5rem;
  }

  .intro .time {
    font-weight: 800;
    font-size: 28px;
  }

  .intro .address {
    padding-top: 20px;
    font-family: var(--secondary-font);
    font-size: 18px;
    padding-bottom: 70px;
  }

  /******  Main program Section  ******/
  #main-program {
    padding: 20px 50px 50px;
  }

  #main-program .title {
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .main-program {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
  }

  .main-program div {
    display: grid;
    align-items: start;
    justify-content: center;
    justify-items: center;
    grid-template-rows: 20px 10px auto;
  }

  .main-program div:hover {
    border: solid 3px var(--tertiary-color);
  }

  .main-program h3 {
    color: var(--secondary-color);

    /* flex: 1.2 1 0; */
    font-size: 12px;
    font-weight: 800;
  }

  .main-program p {
    color: var(--tertiary-color);
    font-size: 12px;
    text-align: center;
  }

  #main-program .desk {
    display: block;
    padding-top: 20px;
    text-align: center;
    color: var(--tertiary-color);
    border-bottom: solid 2px var(--tertiary-color);
    font-weight: 600;
    font-size: 14px;
  }

  #main-program .mob {
    display: none;
  }

  /******  Featured Speaker  *******/
  #featured-speaker {
    padding: 30px 120px;
  }

  #speakers {
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
  }

  .grid-item h4 {
    margin-top: 15px;
  }

  /******  Partners  *******/
  #partner {
    padding: 30px;
  }

  .partner {
    gap: 50px;
  }

  #footer {
    padding: 50px;
    justify-content: space-evenly;
  }

  #footer p {
    width: auto;
  }

  /*********  About Page  ********/

  /**  intro Section  **/

  .about-me {
    padding: 50px 80px 40px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about h2 {
    display: none;
  }

  #about h1 {
    max-width: 380px;
    align-self: center;
  }

  #about .bio {
    max-width: 600px;
  }

  .events {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}
